//EX: @inclue position(absolute, 100, 6, auto, auto){}
@mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    right: $right;
    left: $left;
    bottom: $bottom;
}

//USAGE
//EX: @inclue flex-center(){}
@mixin flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin responsive($breakpoint) {

    @if $breakpoint==xxs-screen{
        @media only screen and (min-width: 376px) {
            @content;
        }
    }

    // screen < 576px
    @if $breakpoint==xs-screen {
        @media only screen and (max-width: 576px) {
            @content;
        }
    }

    // screen ≥ 640px
    @if $breakpoint==sm-screen {
        @media only screen and (min-width: 640px) {
            @content;
        }
    }

    // screen ≥ 768px
    @if $breakpoint==md-screen {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }

    @if $breakpoint==mdt-screen {
        @media only screen and (min-width: 992px) {
            @content;
        }
    }

    // screen ≥ 1024px
    @if $breakpoint==lg-screen {
        @media only screen and (min-width: 1024px) {
            @content;
        }
    }

    // screen ≥ 1024px
    @if $breakpoint==xl-screen {
        @media only screen and (min-width: 1280px) {
            @content;
        }
    }

    // screen ≥ 1536px
    @if $breakpoint==xxl-screen {
        @media only screen and (min-width: 1536px) {
            @content;
        }
    }

    // screen ≥ 1600px
    @if $breakpoint==xxxl-screen {
        @media only screen and (min-width: 1600px) {
            @content;
        }
    }

    // screen >= 1680px
    @if $breakpoint==xxxxl-screen {
        @media only screen and (min-width: 1680px) {
            @content;
        }
    }
}
