$green-primary: #00874a;
$color-text: #333333;
$color-text-55: #555555;
$color-text-44: #444444;
$color-text-22: #222222;
$color-text-e: #eeeeee;
$color-text-dc: #dceec0;
$color-text-red-9d: #ff9d9d;
$color-text-1e: #0c321e;
$color-text-4b: #00af4b;
$color-text-414: #414042;
$green-30: rgba(220, 240, 225, 1);

$bg-gradient-primary: linear-gradient(180deg, #0c321e 0%, #00874a 100%);
$bg-gradient-85A-84A: linear-gradient(
  135.38deg,
  #abe85a -25.99%,
  #00874a 104.93%
);
$bg-f5: #f5f5f5;

$green-29: #87ce29;

$pink-9de: #f7e9de;
$pink-177: rgba(248, 185, 177, 1);

$brown-9de: rgba(208, 166, 103, 1);

$blue-130-232: rgba(130, 232, 255, 1);

$gray-787: #878787;
$gray-100: #eff5ec;
