.home {
  background-color: #fff;
  &__banner {
    // &-img {
    //     max-height: 180px;
    //     min-height: 180px;
    //     object-fit: cover;

    //     @include responsive(md-screen) {
    //         max-height: 320px;
    //         min-height: 320px;
    //     }

    //     @include responsive(xl-screen) {
    //         max-height: 550px;
    //         min-height: 550px;
    //     }
    // }
  }
  &__form {
    position: relative;
    // overflow: hidden;
    background: #048649;

    .ant-form {
      font-size: inherit;
    }
    .ant-form-item {
      font-size: inherit;
    }
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      padding: 0 0rem;
    }
    .ant-select-selection-placeholder {
      display: flex;
      align-items: center;
      color: $green-primary;
      padding: 0 1.1rem !important;
    }

    &-body {
      padding: 0 0;
      @include responsive(md-screen) {
        padding: 0 7rem;
      }

      @include responsive(lg-screen) {
        padding: 0 10rem;
      }
      @include responsive(xl-screen) {
        padding: 0 16rem;
      }
    }

    &-image {
      span {
        transform: scale(0.7);

        @include responsive(md-screen) {
          transform: scale(0.9);
        }

        @include responsive(lg-screen) {
          transform: scale(1);
        }
      }
    }

    .container-custom {
      position: relative;
      z-index: 2;
    }

    .ant-form-item-label label {
      color: #fff;
    }

    .ant-form-item-required {
      color: #fff;

      &::before {
        display: none !important;
      }
      &::after {
        content: "*";
        display: inline-block !important;
        margin-left: 4px;
        color: #fff;
        font-size: 14px;
        line-height: 1;
      }
    }
    .ant-form-item-explain-error {
      font-size: 12px;
      color: #e2453b !important;
    }

    .ant-select-selector {
      background: rgba(255, 255, 255, 0.6) !important;
      /* Gray/10 */

      border: 1px solid #cccccc !important;
      border-radius: 40px !important;
      height: 2.9rem !important;
      .ant-select-selection-item {
        display: flex;
        align-items: center;
        padding: 0 1.1rem;
        color: $green-primary;
      }
    }
    .ant-picker {
      width: 100%;
      background: rgba(255, 255, 255, 0.6) !important;
      border-radius: 40px !important;
      padding: 0.7rem 1.1rem;
    }
    .ant-picker input::placeholder {
      color: $green-primary;
    }
    .ant-form-item-label {
      padding-bottom: 3px !important;
    }
    .ant-select-selection-search {
      width: 100%;
      left: 0 !important;
      padding: 0 1.1rem;
      right: auto !important;
      input {
        color: $green-primary;

        height: 2.9rem !important;
        // padding: 0.7rem 1.1rem !important;
      }

      input::placeholder {
        color: $green-primary;
      }
    }
    .ant-input {
      background: rgba(255, 255, 255, 0.6);
      /* Gray/10 */
      color: $green-primary;
      border: 1px solid #cccccc;
      border-radius: 40px;
      padding: 0.7rem 1.1rem;
    }
    .ant-input::placeholder {
      color: $green-primary;
    }
    .ant-input-status-error {
      background: rgba(255, 255, 255, 0.6) !important;
    }

    .ant-input-status-error {
      border-color: red !important;

      &:focus {
        box-shadow: none !important;
      }
    }

    &-btn {
      background: linear-gradient(180deg, #94ce3f 8.85%, #5c8729 91.67%);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
      border-radius: 40px;
      font-weight: 700;
      position: relative;
      text-transform: uppercase;
      margin: 0 auto;
      color: white;
      transition: all ease 0.3s;
      // animation: fadeBorder ease 7s infinite;
      animation: pulse ease 1s infinite;
      &.loading {
        animation: none;
        opacity: 0.8;
        pointer-events: none;
      }
      &:hover {
        background-color: #fff !important;
        color: $green-primary !important;
        border-color: transparent !important;
        animation: none;
      }
      &:active {
        background-color: #fff !important;
        color: $green-primary !important;
        border-color: transparent !important;
        animation: none;
      }
      &:focus {
        background-color: #fff !important;
        color: $green-primary !important;
        border-color: transparent !important;
        animation: none;
      }
    }
    &-bg {
      position: absolute;
      background-repeat: no-repeat;
      width: 100%;
      background-size: cover;
      top: 40%;
      z-index: 1;
      height: 1000px;
      background-position: top center;
    }
  }

  &__follow {
    padding: 0 0;

    // @include responsive(md-screen) {
    //   padding: 0 7rem;
    // }

    // @include responsive(lg-screen) {
    //   padding: 0 10rem;
    // }
    // @include responsive(xl-screen) {
    //   padding: 0 16rem;
    // }
    .ant-form-item-required {
      color: #444;

      &::before {
        display: none !important;
      }
      &::after {
        content: "*";
        display: inline-block !important;
        margin-left: 4px;
        color: $green-primary !important;
        font-size: 14px;
        line-height: 1;
      }
    }
    .ant-input-status-error {
      border-color: #ccc !important;

      &:focus {
        box-shadow: none !important;
      }
    }
    .ant-input {
      background: rgba(255, 255, 255, 0.6);
      /* Gray/10 */
      color: $green-primary;
      border: 1px solid #cccccc;
      border-radius: 40px;
      padding: 0.7rem 1.1rem;
    }
    .ant-input::placeholder {
      color: $green-primary;
    }
    .ant-form-item-label {
      padding-bottom: 3px !important;
    }
    .ant-form-item-explain-error {
      font-size: 12px;
      color: #e2453b;
    }

    &-maintenance {
      .ant-modal-content {
        background-color: transparent;
      }
      .ant-modal-body {
        background-color: rgba(28, 134, 81, 0.8);
        border: 2.17px solid rgba(0, 0, 0, 1);
        border-radius: 24px;
        aspect-ratio: 16/9;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .ant-modal-close {
        background-color: white;
        border-radius: 50%;
        top: 10px;
        right: 10px;
      }
      .ant-modal-close-x svg {
        fill: rgba(28, 134, 81, 1);
      }
      .ant-modal-close-x {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__crop {
    position: relative;

    .container-custom {
      position: relative;
    }

    &-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &-btn {
      border-radius: 40px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
      transition: all ease 0.3s;
      animation: pulseColor ease 1s infinite;
      overflow: hidden;

      &:hover {
        background-color: $green-29 !important;
        color: #fff !important;
        animation: none;
      }
      &:hover svg path {
        stroke: #fff;
      }
    }
  }

  &__intro-wrapper {
    background-color: $green-30;
    border-radius: 0.4rem;
    // border: 0.73px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @include responsive(md-screen) {
      background-color: transparent;
      box-shadow: none;
    }

    p {
      padding: 0.5rem;
      text-wrap: nowrap;

      @include responsive(xxs-screen) {
        text-wrap: wrap;
        padding: 1rem;
      }
    }
  }

  &__intro {
    border-radius: 0.4rem;
    transition: all ease 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    @include responsive(xs-screen) {
      padding: 2rem 1rem;
    }
    @include responsive(sm-screen) {
      flex-direction: column;
    }

    @include responsive(md-screen) {
      padding: 2.5rem 0.75rem;
    }

    @include responsive(lg-screen) {
      padding: 2.5rem 1.25rem;
    }

    &-img svg {
      transition: all ease 0.3s;
    }

    &:hover {
      background-color: $green-primary;
    }

    &:hover &-img .leaf-electric path {
      fill: #fff;

      &:first-child {
        fill: $green-29;
      }
    }

    &:hover &-img .map-pin path {
      fill: #fff;
      &:first-child {
        fill: $green-primary;
        stroke: #fff;
      }
      &:nth-child(2) {
        fill: $green-29;
      }
    }
    &:hover &-img .tree-electric path:first-child {
      fill: $green-29;
    }

    &:hover &-img .tree-electric path {
      fill: #fff;
    }

    &:hover &-text {
      color: #fff;
    }

    @include responsive(md-screen) {
      border-radius: 1rem;
    }

    &-img {
      margin-right: 2rem;
      @include responsive(md-screen) {
        margin-right: 0rem;
      }

      svg {
        width: 60px !important;
        height: 70px !important;

        @include responsive(md-screen) {
          width: 97px !important;
          height: 120px !important;
        }
      }
      span {
        width: auto !important;
        height: auto !important;

        @include responsive(md-screen) {
          width: 48px !important;
          height: 60px !important;
        }
      }
    }
  }

  &__partner {
    // background: linear-gradient(180deg, #00874a 0%, #08522f 100%);

    &-image {
      span {
        img {
          transform: scale(0.6);

          @include responsive(md-screen) {
            transform: scale(0.8);
          }
          @include responsive(lg-screen) {
            transform: scale(1);
          }
        }
      }
    }
  }

  &__partner-wrapper {
    .swiper-pagination {
      bottom: -36px !important;
    }
    .swiper {
      overflow: visible;
    }

    .swiper-pagination-bullet {
      background-color: #b1d2be;
      width: 10px;
      height: 10px;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: #78c09a;
    }
  }

  &__certificate {
    .ant-modal-body {
      padding: 12px;
    }

    &-img {
      width: 100%;
      container-type: inline-size;
      text-align: center;
      .certificateComponent__modal {
        width: 100%;
      }
      .certificateComponent__download {
        .certificateComponent__bravo {
          margin-bottom: 0 !important;
        }
        .certificateComponent__dash {
          margin-bottom: 0.4cqw !important;
        }
      }
    }
    &-socials {
      .ant-popover-arrow {
        display: none !important;
      }

      &-list {
        position: absolute;
        top: 0%;
        background-color: #fff;
        padding: 10px;
        left: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
        opacity: 0;
        transform: translate(-50%, -115%);
        border-radius: 5px;
        transition: all ease 0.3s;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          top: 100%;
          transform: translateX(-50%);
          border-width: 9px 10px;
          border-color: #fff transparent transparent transparent;
        }

        &.active {
          opacity: 1;
        }
      }
    }
    &-share {
      &-btn {
        position: relative;
      }
      &-socials {
        position: absolute;
      }
    }
    &-img {
      // span {
      //     width: 100% !important;
      // }
    }
    &-btn {
      border: 1px solid $green-29;
      border-radius: 40px;
      text-align: center;
      transition: all ease 0.3s;
      color: $green-29;
      margin: 0 auto;
      display: block;
      width: 230px;
      animation: pulseColor ease 1s infinite;

      &.loading {
        background-color: $green-29;
        animation: none;
        pointer-events: none;
        color: #fff;
        opacity: 0.8;
      }

      &:hover {
        background-color: $green-29;
        color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
        animation: none;
      }

      &.facebook {
        background-color: $green-29;
        border: none;
        color: #000;
        width: 230px;
        animation: pulse ease 1s infinite;

        svg path:first-child {
          animation: strokeColor ease 1s infinite;
        }

        &:hover svg path:first-child {
          stroke: $green-primary;
          animation: none;
        }

        &:hover {
          background-color: #fff;
          color: $green-primary;
          animation: none;
        }
      }
    }
    &-login {
      border: 1px solid $green-29 !important;
      border-radius: 40px !important;
      text-align: center !important;
      transition: all ease 0.3s !important;
      color: $green-29 !important;
      margin: 0 auto !important;
      display: block !important;
      width: 230px !important;
      animation: pulseColor ease 1s infinite !important;
      height: 100% !important;
      padding: 0.45rem 0 !important;
      &.loading {
        background-color: $green-29;
        animation: none;
        pointer-events: none;
        color: #fff;
        opacity: 0.8;
      }

      &:hover {
        background-color: $green-29 !important;
        color: #fff !important;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16) !important;
        animation: none !important;
      }
    }
  }

  &__popupThank {
    &-btn {
      border-radius: 40px;
      font-weight: 600;
      animation: pulse ease 1s infinite;
      transition: all ease 0.3s;

      &.loading {
        opacity: 0.8;
        pointer-events: none;
      }

      &:hover {
        background-color: #fff !important;
        color: $green-primary !important;
        animation: none;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
      }
    }
  }

  &__news {
    .swiper {
      padding-bottom: 80px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      bottom: 8px;
      width: calc(var(--swiper-navigation-size) / 44 * 27);
      height: var(--swiper-navigation-size);
      margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
      z-index: 10;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--swiper-navigation-color, var(--swiper-theme-color));
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      right: 0;
      left: auto;
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      left: 0%;
      right: auto;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      font-family: swiper-icons;
      font-size: 2rem;
      font-weight: 700;
      text-transform: none !important;
      letter-spacing: 0;
      font-variant: initial;
      line-height: 1;
      color: $green-primary;
    }

    .swiper-button-next::after {
      content: "next";
    }

    .swiper-button-prev::after {
      content: "prev";
    }
    .swiper-pagination {
      left: 50% !important;
      transform: translateX(-50%);
    }
    .swiper-pagination-bullet {
      background-color: rgba(3, 99, 52, 1);
      width: 20px;
      height: 20px;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background-color: rgba(3, 99, 52, 1);
    }

    .post-next-btn,
    .post-prev-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      z-index: 3;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: none;
      @include responsive(sm-screen){
        display: block;
      }
    }

    .post-next-btn {
      background-image: url("/icons/next-custom-btn-green.svg");
      right: -50px;
    }
    .post-prev-btn {
      background-image: url("/icons/pre-custom-btn-green.svg");
      left: -50px;
    }
    .post-next-btn.swiper-button-disabled,
    .post-prev-btn.swiper-button-disabled {
      opacity: 0.35;
      cursor: auto;
      pointer-events: none;
    }
  }

  &__register {
    .ant-checkbox {
      visibility: hidden;
      position: absolute;
    }
    .ant-checkbox-checked::after {
      border-color: transparent;
    }
  }

  &__tutorial {
  }
}
.custom-by-custome {
  font-size: 10px;
  @include responsive(xxs-screen) {
    font-size: 12px;
  }
  @include responsive(md-screen) {
    font-size: inherit;
  }
}
// @keyframes fadeBorder {
//     from {
//         border: 1px solid yellow;
//     }
//     to {
//         border: 5px solid yellow;
//     }
// }
// @keyframes pulse {
//     0% {
//         box-shadow: 0 0 0 0 #f9e000;
//     }
//     100% {
//         box-shadow: 0 0 0 0.25em #f9e000, 0 0 20px 0.2em rgba(0, 0, 0, 0.2);
//     }
// }

// @keyframes pulseColor {
//     0% {
//         box-shadow: 0 0 0 0 #f9e000;
//         color: $green-29;
//     }
//     100% {
//         color: $green-primary;
//         box-shadow: 0 0 0 0.25em #f9e000, 0 0 20px 0.2em rgba(0, 0, 0, 0.2);
//     }
// }

// @keyframes strokeColor {
//     0% {
//         stroke: #fff;
//     }
//     100% {
//         stroke: #000;
//     }
// }

.home__tree-share {
  position: absolute;
  opacity: 1;
  top: -50%;
  // transform: translate(-500%, -100%);
  z-index: -10;
  visibility: hidden;
}
.modal-cer {
  .ant-modal-body {
    padding: 12px !important;
  }
}
.link-no-treecode {
  color: $green-primary;
  cursor: pointer;
  &:hover {
    color: $green-29;
  }
}
.pg-code {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #cccccc;
  border-radius: 40px;
  padding: 0.4rem 1.1rem;
  .ant-form-item {
    margin-left: 8px;
    margin-bottom: 0 !important;
    input {
      border-top: 0 !important;
      border-left: 0 !important;
      border-right: 0 !important;
      padding: 4px 0 !important;
      border-radius: unset !important;
      text-align: center;
      &:focus {
        box-shadow: 0 4px 2px -2px $green-29 !important;
      }
    }
  }
}
.modal-show-code {
  .ant-modal-body {
    background-color: #eff5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  .ant-modal-close {
    background-color: $green-primary;
    border-radius: 100%;
    top: 10px;
    right: 10px;
  }
}
